
    <div *ngFor="let customer of customers">
          <li><strong>ID: </strong><input type="text" name="customerId">{{customer.customerId}}</li>
          <li><strong>Name: </strong><input type="text" name="name">{{customer.name}}</li>
          <li><strong>Email: </strong><input type="email" name="email">{{customer.email}}</li>
          <li><strong>Username: </strong><input type="text" name="username">{{customer.username}}</li>
          <li><strong>Password: </strong><input type="password" name="password">{{customer.password}}</li>
          <li><strong>Role: </strong><input type="text" name="role">{{customer.role}}</li>
        </ul>
    </div>
  